:root {
    --violet-primaire: #3D2DA6;
    --violet-secondaire: #07338C;
    --violet-tertiaire: #021740;
    --white: #FFFFFF;
    --white-primaire: #F2CEF2;
    --white-violet-1: #9E91B7;
    --white-violet-2: #DF99F2;
}