/* Definition des typographies  */

@font-face {
    font-family: "beyno";
    src: url("../fonts/BEYNO.ttf");
}

@font-face {
    font-family: "cantarell";
    src: url("../fonts/Cantarell-Regular.ttf");
}

@font-face {
    font-family: "panthera";
    src: url("../fonts/panthera.otf");
}

@font-face {
    font-family: "WakandaForever";
    src: url("../fonts/WakandaForever-Regular.ttf");
}


/* Fin typographie */