<div class="container m-5 mx-auto">
    <div class="row  justify-content-md-center">
        <div class=" col-md-6">
            <img src="assets/images/404.jpg" alt="" class="img-fluid">
        </div>
        <div class=" col-md-6 mt-5 justify-content-center">
            <p class="fs-3 text-center"> <span class="text-danger">Oupps!</span> Page non trouvé</p>
            <p class="lead text-center">
                Cette page n'existe pas !
            </p>
            <div class="d-flex justify-content-center">
                <a routerLink="/home" class="btn btn-primary">Retour à l'Acueil</a> &nbsp;
                <a routerLink="/eshop" class="btn btn-success">Voir les produits</a>
            </div>
        </div>
    </div>
</div>