<!-- code wakanda -->

<!--
     ######################### [NOTE] ###########################
    # L'effet canvas (une fois activé) etendu sur tout l'ecran #
    # désactive tout effet sur le page (DOM)                   #
    # aucune action n'est plus poss                            #
    ############################################################
     -->
<!-- Rajout de CANAVAS avec un effet chauve souris sur le curseur -->
<div id="div-canvas">
    <canvas id="canvas"></canvas>
    <!-- <img src="assets/images/logo_souris_BP1_blanc.png" alt="curseur image" id="img-curseur" > -->
</div>
<!-- Fin -->

<!-- Le corps de la page  -->
<main>
    <!-- lien reseaux sociaux -->
    <div class="social-logo-header">
        <div class="ligne"> </div>
        <div class="icon-social">
            <a href="#"><img src="assets/images/icon_facebook.png" alt="logo facebook"></a>
            <a href="#"><img src="assets/images/icon_instagram.png" alt="logo instagram"></a>
            <a href="#"><img src="assets/images/icon_twitter.png" alt="logo twitter"></a>
            <a href="#"><img src="assets/images/icon_tik_tok.png" alt="logo tikto"></a>
        </div>
    </div>
    <!-- fin -->

    <!-- section wakanda forever -->
    <section id="wakanda">
        <div class="intro-wakanda">
            <h2 class="titre-wakanda">WAKANDA FOREVER</h2>
            <h3 class="soustitre-wakanda">WAKANDA FOREVER</h3>
            <p class="text-wakanda">
                Situé en Afrique subsaharienne, à l'ouest de l’Éthiopie et au nord du Kenya1, ce petit royaume, longtemps caché aux autres nations du monde, est notamment connu pour posséder un gisement naturel du métal de fiction le vibranium ainsi que pour son dirigeant,
                le monarque et super-héros appelé la Panthère noire
            </p>
        </div>

    </section>
    <!-- Fin section Wakanda -->

    <!-- Section a propos wakanda -->
    <section id="apropos">

        <!-- div du contenu a gauche -->
        <div class="left-apropos">
            <h2>
                ORIGINES
            </h2>
            <p>
                <span> 
                        Avant l'émergence de la nation wakandaise, la mythologie du pays parle des êtres mystiques connus sous le nom des « Originateurs », expulsés de la région par les Orishas, le panthéon du Wakanda composé des dieux Thot, Ptah, Mujaji, Kokou et Bast la déesse 
                        panthère
                    </span>
                <span>
                        La lignée royale du Wakanda débute avec Bashenga, supposé être le troisième prince du pays et la première Panthère noire (Black Panther), 10 000 ans avant T'Challa. 
                    </span>
                <span> 
                        Dans l'histoire lointaine du royaume, une immense météorite s’écrasa sur le futur Wakanda et provoqua la survenue d'une substance unique, qui deviendra plus tard le vibranium. Les Wakandais apprendront au fur et à mesure à utiliser ce métal pour forger leurs armes. Mais
                        le vibranium se révélera aussi avoir de fortes propriétés mutagènes qui transformeront certaines hommes en monstres.
                    </span>
                <span> &nbsp; </span>
                <span>
                        Le bouclier de Captain America (ère moderne) est composé en partie de vibranium du Wakanda. Entouré de montagnes, les frontières du Wakanda ont été soigneusement surveillées au cours des deux derniers siècles, et toute
                        tentative d’invasion a été repoussée. Jusqu’à ces dernières années, le pays était si isolé que la plupart des personnes sur Terre ignoraient son existence.
                    </span>
                <span> 
                        Lorsque des informations sur la présence de vibranium au Wakanda commencèrent à se répandre durant la Seconde Guerre mondiale, le roi T’Chaka passa un accord avec Captain America (Steve Rogers), lui fournissant
                        un échantillon de vibranium — qui allait être utilisé peu de temps après par le métallurgiste américain Myron MacLain pour former le bouclier rond du Captain.
                    </span>

            </p>

            <!-- espace contenu youtube -->
            <div class="videos-container">
                <iframe width="100%" height="250" src="https://www.youtube.com/embed/gMLh7wS5Dsw" title="Presentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- Inserer Vidéo youtube : https://www.youtube.com/watch?v=ts30OG3Qld0 https://www.youtube.com/watch?v=gMLh7wS5Dsw -->
            </div>
            <!-- fin espace contenu youtube  -->

            <h2>UN CINEMA AFRO AMERICAIN QUI RESONNE</h2>
            <p>
                <span>
                        Pour Jamil Smith dans le magazine Time, Black Panther semble capable de prouver à Hollywood que les Afro-Américains peuvent générer des profits grâce à tous les publics, et que ce film est un acte de résistance face au mouvement culturel et politique
                        régressif alimenté en partie par le mouvement nativiste blanc. Les thèmes abordés par le film remettent en question les préjugés institutionnels, ses personnages s'attaquent aux oppresseurs et son récit inclut des perspectives prismatiques
                        sur la vie et la tradition des Noirs.
                    </span>
                <span>
                        Pour l'historien Nathan D. B. Connolly, Black Panther est « une puissante analogie fictive pour les luttes de la vie réelle » qui exploite une « histoire de 500 ans de
                        personnes d'origine africaine imaginant la liberté, la terre et l'autonomie nationale. » L'écrivain et activiste Shaun King estime que le film est un moment culturel dans l'histoire des Noirs américains, similaire au boycott des bus
                        de Montgomery, au discours de Martin Luther King Jr. « I Have a Dream » ou à l'élection de Barack Obama à la présidence.
                    </span>
                <span>
                        Pour Dwayne Wong (Omowale) dans HuffPost, le film s'attaque à « de sérieux problèmes politiques concernant
                        les relations de l'Afrique avec l'Occident, qui reçoivent très rarement l'attention sérieuse qu'ils méritent », les Wakandans étant présentés comme suspects à l'égard des étrangers. Il conclut que si le pays est fictif, la politique
                        « est bien réelle. La fin du colonialisme n'a pas mis fin à la manipulation occidentale dans la politique africaine. »
                    </span>
                <span>
                        Carlos Rosario Gonzalez écrit que la lutte entre T'Challa et Killmonger représente le combat de « ce que 
                        signifie être Africain » et de « ce que l'Afrique signifie pour les Afro-minorités d'aujourd'hui ». Dans cette 
                        perspective, Wakanda représente l'Afrique sans colonialisme occidental, et Killmonger nous montre que « 
                        nous pouvons parfois devenir ce que nous cherchons à détruire », concluant que Killmonger veut utiliser les 
                        ressources du Wakanda pour devenir un colonisateur de l'Occident tandis que « les manières conservatrices 
                        du Wakanda ont créé le problème qu'ils cherchaient à détruire : Erik Killmonger ».
                    </span>
                <span>
                        Enfin Jelani Cobb, dans The New Yorker, a estimé que T'Challa et Killmonger représentaient « des réponses en duel à cinq siècles d'exploitation africaine aux mains de l'Occident. Le méchant, dans la mesure
                        où le terme s'applique, est l'histoire elle-même ». Cobb ajoute que Black Panther a une portée politique différente des précédents films MCU dans lesquels « nous étions au moins clairs sur l'endroit où les lignes de la fantaisie se
                        sont éloignées de la réalité [alors que ce film se déroule] dans une nation inventée en Afrique, un continent qui a été aux prises avec des versions inventées de lui-même depuis que les hommes blancs l'ont déclaré pour la première
                        fois continent noir et ont commencé à piller son peuple et ses ressources.
                    </span>
            </p>
        </div>
        <!-- FIn contenu à gauche -->

        <!-- div du contenu a droite -->
        <div class="right-apropos">
            <h2>Le culte de la panthere noir</h2>
            <p>
                <span>
                        Bast, la déesse panthère basée sur Bastet, l'ancienne divinité égyptienne est la principale divinité du Wakanda. Chaque nouvelle Panthère noire doit partir en quête d’une herbe en forme de cœur qui ne pousse que sur le Mont Kanda. Le futur souverain doit
                        manger cette plante, qui lui apporte des capacités surhumaines et un lien « mystique » avec le Dieu-Panthère. 
                    </span>
                <span>
                        Par contre, le culte du Gorille — repris par M’Baku, alias l'Homme-singe — est interdit.
                    </span>
            </p>
            <h2>Guerre de l’INFINI</h2>
            <p>
                <span>
                        Après l’arrestation et l’emprisonnement du Zemo, T’Challa emmène Steve Rogers et Barnes au Wakanda, où il promet d’essayer de guérir le cerveau de Barnes en supprimant le programme implanté par l’HYDRA. Il le plonge dans une phase de cryogénisation jusqu'à
                        trouver une solution, et finit par réussir avant les évenements de la Guerre de l'Infini.
                    </span>
                <span>
                        Peu après le commencement de l’invasion de la Terre par Thanos, les Avengers rejoignent T'Challa et le Soldat de l'Hiver et chargent Shuri d’extraire la Pierre de l’Esprit de la tête de Vision, blessé. L’armée
                        de Thanos arrive sur Terre et les Avengers forment une défense avec T’Challa et les soldats Wakandais. Thor arrive sur Terre avec sa nouvelle arme Stormbreaker et ses nouveaux amis Rocket et Groot, et ils rallient les défenses.
                    </span>
                <span>
                        « Vous êtes au Wakanda maintenant. Thanos n'aura que la poussière et du sang. <br> — Bien ... Nous avons du sang à revendre.» <br> — T'Challa et Proxima Midnigh.
                    </span>
                <span> &nbsp; </span>

            </p>
            <h2>Force militaire</h2>
            <p>
                <span>
                        Le Wakanda possède sûrement une des plus puissantes armées au monde, des mesures ayant été prises pour en dissimuler sa véritable puissance militaire, pour ainsi éviter des réactions agressives de la part d'autres nations. Le pays possède des forces spécialisées
                        comme la Garde de la Panthère (ou la « Meute des Panthères »), l'unité des « Hatut Zeraze » (ou « Chiens de Guerre ») qui formaient la police secrète du pays (« officiellement » dissoute) ou encore les « Dora Milaje », la garde personnelle
                        du roi.
                    </span>
                <span>
                        De nombreux pays et organisations ont toujours eu des vues sur le Wakanda, pour sa principale ressource : le vibranium. Le criminel Ulysses Klaw a ainsi monté de multiples tentatives d’invasion, tout
                        comme l'AIM, les nazis, l’alchimiste Diablo (Esteban De Ablo), Moïse Magnum, le Maître de l'évolution ou encore la Roxxon Oil Company .
                    </span>
            </p>
            <img src="assets/images/2_Wakanda_page/Pantherwakanda3.png" alt="">
            <h2>anecdotes </h2>
            <p>
                <span>
                        Tessa Thompson qui partage l'affiche avec Michael B. Jordan dans les films Creed et Creed 2 a fait remarquer à ce dernier que le costume de Killmonger ressemble étrangement à celui du personnage de Végéta dans l'anime Dragon Ball Z. Michael B. Jordan
                        s'est rapproché de Ryan Coogler qui est un grand fan de japanimation et qui a confirmé à l'acteur que l'uniforme de Killmonger est bien un clin d'oeil au personnage de Dragon Ball Z.
                    </span>
                <span>
                        Chadwick Boseman dans le rôle titre, on retrouve Michael B. Jordan, Lupita Nyong'o, Forest Whitaker, Danai Gurira, Sterling K. Brown ou Daniel Kaluuya. Un casting à 90% noir. On peut compter dans les 10% restants les présences
                        d'Andy Serkis (déjà vu au Wakanda dans Avengers 2) ou de Martin Freeman, reprenant son rôle d'agent gouvernemental de Civil War. 
                    </span>
                <span>
                        Dans les flashbacks Denzel Whitaker incarne le jeune Zuri joué par Forest Whitaker plus vieux. Bien
                        qu’il ait le même nom de famille que Forest Whitaker, ils n’ont aucun lien de parenté. Ils ont cependant joué un père et son fils dans The Great Debaters de Denzel Washington.
                    </span>
                <span>
                        Lupita Nyong'o et Winston Duke, qui incarnent les personanges de Nakia and M'Baku, étaient ensemble à l'universite de Yale. Ils ont vu Avengers à sa sortie en 2012, rêvant de participer un jour à la saga super-héroïque. C'est
                        chose faite.
                    </span>
            </p>
        </div>
        <!-- Fin contenu a droite -->
    </section>
    <!-- Fin apropos wakanda -->

</main>
<!-- Fin Main -->

<!-- End wakanda  -->