<main>
    <div class="container">
        <div class="align-items-center">
            <div class="intro-form rounded w-75 mx-auto mt-5 pb-5">
                <div class="entete-form mx-auto py-5">
                    <p class="title fs-2 text-center">Connexion</p>
                    <p class="description text-center fs-4">Vous n’avez pas encore de compte ? <a [routerLink]="['/account/signup']" class="text-white"> Inscrivez vous ici </a></p>
                </div>
                <div class="form w-75 mx-auto mb-5">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group mb-3">
                            <label for="basic-url" class="form-label text-white my-2">Nom d'utilisateur</label>
                            <div class="input-group">
                                <span class="input-group-text bg-transparent text-white border-end-0 p-2" id="basic-addon3">
                                    <i class="fa-regular fa-circle-user fa-2x"></i>
                                </span>
                                <input formControlName="username" type="text" class="form-control bg-transparent text-white border-start-0" id="basic-url" placeholder="Nom d'utilisateur" aria-describedby=" basic-addon3 ">
                            </div>
                            <span class="text-warning " *ngIf="loginForm.controls['username'].dirty && loginForm.hasError( 'required', 'username') ">* Ce champ est requis</span>
                        </div>

                        <div class="form-group mb-3 ">
                            <label for="basic-url " class="form-label text-white my-2 ">Mot de Passe</label>
                            <div class="input-group ">
                                <span class="input-group-text bg-transparent text-white border-end-0 p-2 " id="basic-addon3 ">
                                    <i class="fa-regular fa-eye fa-2x "></i>
                                </span>
                                <input formControlName="password" type="password " class="form-control bg-transparent text-white border-start-0 " id="basic-url " placeholder="Mot de passe " aria-describedby="basic-addon3 ">
                            </div>
                            <span class="text-warning " *ngIf="loginForm.controls['password'].dirty && loginForm.hasError( 'required', 'password') ">* Ce champ est requis</span>
                        </div>
                        <div class="d-flex justify-content-center mb-5 ">
                            <button class="btn btn-primary text-center w-50 p-3 ">VALIDER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>