<!-- CODE ENIGME -->

<!-- popup box -->
<div class="box-popup" id="box-popup">
    <div class="popup">
        <p id="titre_popup">Ton initiation est terminée ! </p>
        <a id="btn-popup"> Revenir à l'accueil</a>
        <div class="chrono" id="chrono">
            <img src="assets/images/3_Page_Enigme/figma_logo.svg" alt="figma">
            <p>
                Coming soon <span id="hour">00:00:04</span>
            </p>
        </div>
    </div>
</div>
<!-- fin -->

<!-- Le corps de la page  -->
<main>
    <!-- lien reseaux sociaux -->
    <div class="social-logo-header">
        <div class="ligne"> </div>
        <div class="icon-social">
            <a href="#"><img src="assets/images/icon_facebook.png" alt="logo facebook"></a>
            <a href="#"><img src="assets/images/icon_instagram.png" alt="logo instagram"></a>
            <a href="#"><img src="assets/images/icon_twitter.png" alt="logo twitter"></a>
            <a href="#"><img src="assets/images/icon_tik_tok.png" alt="logo tikto"></a>
        </div>
    </div>
    <!-- fin -->
    <!-- Section defi -->
    <section id="defi">
        <div class="card-defi">
            <h2 class="titre-defi">
                Releve le defi des dora milaje
            </h2>
            <div class="texte-defi">
                <div class="paragraphe">
                    <p>
                        Les Dora Milaje sont de farouches guerrières d’élite. Elles constituent la garde rapprochée du Roi en personne et ont de nombreuses occasions de lui sauver la vie. Leur Générale, Okoyé est également la dirigeante des forces armées et des renseignements
                        wakandais. <br> Prouve ton talent d’espion et déchiffre cette réplique d’Okoyé écrite en Wakandais, et apprend par la même occasion la première valeur d’une Dora Milaje !
                    </p>
                    <img src="assets/images/3_Page_Enigme/Pantherenigme3.png" width="20px" alt="ligne">

                </div>
            </div>
        </div>
    </section>
    <!-- Fin section defi -->

    <!-- section Enigme -->
    <section id="enigme">
        <div class="main-enigme">
            <h2 class="entete" id="number_enigme"> ENIGME NUMERO i</h2>
            <div class="content-enigme">
                <div class="transcription">
                    <p id="enonce">
                        Prouve ton talent d’espion et déchiffre cette réplique d’Okoyé écrite en Wakandais, et apprend par la même occasion la première valeur d’ une Dora Milaje!
                    </p>
                    <p id="enigme-text">
                        <span class="panthera-letter"> " SI JE SUIS FIDELE C’EST A CE TRONE PEU IMPORTE QUI MONTE DESSUS "</span>
                    </p>
                    <form action="" id="enigme-form">
                        <label for="reponse">Alors, as tu la réponse ?</label> <br>
                        <input type="text" name="reponse" id="reponse" placeholder="Réponse"> <br>
                        <input type="submit" value="ENVOYER" class="btn-form btn-enigme">
                    </form>
                </div>
                <div class="info-enigme">
                    <p>
                        <span class="titre-info">Le savais tu ? </span>
                        <p id="a_savoir">
                            <span>Voici la transicription de l’alphabet :</span> <br>
                            <span class="alphabet">
                                A = <span> A </span> ; B = <span> B </span>; C = <span> C </span> ; D = <span> D </span> ; E = <span> E </span> ; F = <span> F </span> ; G = <span> G </span> ; H = <span> H </span> ; I = <span> I </span>                            ; J = <span> J </span> ; K = <span> K </span> ; L = <span> L </span> ; M = <span> M </span> ; N = <span> N </span> ; O = <span> O </span> ; P = <span> P </span> ; Q = <span> Q </span> ; R = <span> R </span> ; S = <span> S </span>                            ; T = <span> T </span> ; U = <span> U </span> ; W = <span> W </span> ; X = <span> X </span> ; Y = <span> Y </span> ; Z = <span> Z </span>
                            </span>
                        </p>
                        <!-- </p> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Fin section enigme -->

</main>
<!-- Fin Main -->

<!-- END ENIGME -->