<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a routerLink="/eshop">E-Shop</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/eshop/product/{{product?.id}}" routerLinkActive="active-page">
                    Details produit
                </a>
            </li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3 bg-transparent">
                    <div class="row g-0">
                        <div class="col-md-8" style="width: 90%;">
                            <img src="assets/images/4_Eshop/{{product?.image}}" class="img-fluid w-100" alt="img">
                        </div>
                        <div class="col-md-4" style="width: 10%;">
                            <div class="card-body d-flex align-items-center flex-column w-100">
                                <img src="assets/images/4_Eshop/article_2.jpg" class="rounded w-100" alt="img"> &nbsp;
                                <img src="assets/images/4_Eshop/article_6.jpg" class="rounded w-100" alt="img"> &nbsp;
                                <img src="assets/images/4_Eshop/article_5.jpg " class="rounded w-100 " alt="img "> &nbsp;
                                <img src="assets/images/4_Eshop/article_7.jpg " class="rounded w-100 " alt="img "> &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md ms-3">
                <p>
                    <i class="fa-solid fa-star text-warning "></i>
                    <i class="fa-solid fa-star text-warning "></i>
                    <i class="fa-solid fa-star text-warning "></i>
                    <i class="fa-solid fa-star text-warning "></i>
                    <i class="fa-solid fa-star "></i>
                    <span> 0 Commentaires</span>
                </p>
                <h1> {{ product?.name }} </h1>
                <hr style="size: 10px; color: white; ">
                <div class="row">
                    <p class="col-md-8 text-white fs-3">Prix: <strong>{{ product?.price | currency: 'EUR'}}</strong></p>
                    <div class="col-md float-end d-flex justify-content-between ">
                        <a class="text-white w-25 "> En stock</a>
                        <select class="form-select bg-transparent text-white mx-2 " aria-label="Default select example ">
                            <option selected>Taille M</option>
                            <option value="1 ">Taille X</option>
                            <option value="2 ">Taille XL</option>
                            <option value="3 ">Taille L</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button class="btn-form btn-enigme m-3" (click)="addToCart(product) "> Ajouter au Panier</button>
                        <a class="btn border border-danger ">
                            <i class="fa-regular fa-heart text-danger "></i>
                        </a>
                    </div>
                </div>
                <hr style="size: 10px; color: white; ">
                <p class="m-2">
                    {{ product?.description}}
                </p>
            </div>
        </div>
    </div>

    <hr style="size: 10px; color: white; ">

    <div class="container py-5">
        <h1 class="fs-4 mb-5">Produits simulaire</h1>
        <div id="productSimular" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <div class="card mx-auto bg-transparent border border-secondary" style="width: 18rem;">
                        <img src="assets/images/4_Eshop/{{product?.image}}" class="card-img-top" [alt]="product?.name">
                        <div class="card-body">
                            <h1 class="card-title fs-5 text-secondary w-100 text-center">{{ product?.name }}</h1>
                            <p class="card-text text-center text-truncate">{{product?.description}}</p>
                            <p class="card-text fs-4 text-center text-danger ">Prix: <strong> {{product?.price | currency: 'EUR' }} </strong> </p>
                            <div class="d-flex justify-content-center align-items-end">
                                <!-- <button class="btn-form btn-enigme" (click)="viewSimular(simular.id)">Voir</button> -->
                                <a class="btn-form btn-enigme text-decoration-none d-flex justify-content-center align-items-center" href="/eshop/detail-product/{{product?.id}}">
                                    <span>Voir</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-bs-interval="2000" *ngFor="let simular of simularProducts">
                    <div class="card mx-auto bg-transparent border border-secondary" style="width: 18rem;">
                        <img src="assets/images/4_Eshop/{{simular?.image}}" class="card-img-top" [alt]="simular?.name">
                        <div class="card-body">
                            <h1 class="card-title fs-5 text-secondary w-100 text-center">{{ simular?.name }}</h1>
                            <p class="card-text text-center text-truncate">{{simular?.description}}</p>
                            <p class="card-text fs-4 text-center text-danger ">Prix: <strong> {{simular?.price | currency: 'EUR' }} </strong> </p>
                            <div class="d-flex justify-content-center align-items-end">
                                <!-- <button class="btn-form btn-enigme" (click)="viewSimular(simular.id)">Voir</button> -->
                                <a class="btn-form btn-enigme text-decoration-none d-flex justify-content-center align-items-center" href="/eshop/detail-product/{{simular.id}}">
                                    <span>Voir</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productSimular" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Precedent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productSimular" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Suivant</span>
            </button>
        </div>
    </div>

</div>