<!-- CODE HOME -->

<!-- popup box -->
<div class="box-popup" id="box-popup">
    <div class="popup">
        <p>Message envoyé avec succes ! </p>
        <a id="ok_message"> OK</a>
    </div>
</div>
<!-- fin -->

<!-- Le corps de la page accueil  -->
<main>
    <!-- lien reseaux sociaux -->
    <div class="social-logo-header">
        <div class="ligne"> </div>
        <div class="icon-social">
            <a href="#"><img src="assets/images/icon_facebook.png" alt="logo facebook"></a>
            <a href="#"><img src="assets/images/icon_instagram.png" alt="logo instagram"></a>
            <a href="#"><img src="assets/images/icon_twitter.png" alt="logo twitter"></a>
            <a href="#"><img src="assets/images/icon_tik_tok.png" alt="logo tikto"></a>
        </div>
    </div>
    <!-- fin -->
    <!-- Section introduction black panther -->
    <section id="intro" class="section-panther">

        <div class="intro-panther">
            <div class="texy-intro">
                <h1 class="titre-intro">
                    BLACK PANTHER
                </h1>
                <h2 class="sous-titre">
                    WAKANDA FOREVER
                </h2>
                <p class="texte-intro">
                    En plus d'être un film qui fait la part belle aux héroïnes, Black Panther rend hommage aux cultures africaine et afro américaine. On y évoque le racisme, la colonisation et les violences contre les afro américains. Ce film marque tout une génération,
                    c’est 100% africain et c’est parfait .
                </p>
                <a href="#dob-prince">Voir plus &gt; </a>
            </div>
        </div>
    </section>
    <!-- fin section intro -->

    <!-- Section Hero slide -->
    <section id="section-slide">

        <div class="container-slides">
            <div class="cards" id="card1">
                <img src="assets/images/1_Landing_page/Pantherhome_slider_1.png" alt="KILLMONGER" class="img-active">
                <div class="decription-slide">
                    <h3 class="titre-slide">KILLMONGER</h3>
                    <p class="texte-slide">
                        La sauvagerie de N'Jadaka alors qu'il servait dans une unité d'opérations noires de l'armée américaine lui a valu le surnom de Killmonger. D’origine Wakandaise, et se sentant abandoné par sa nation, il cherche à détroner T’Challa dans une quête vers le
                        pourvoir.
                    </p>
                    <a href="#"> Voir plus &gt; </a>
                </div>
            </div>
            <div class="cards" id="card2">
                <img src="assets/images/1_Landing_page/Pantherhome_slider_2.png" alt="OKOYE">
                <div class="decription-slide">
                    <h3 class="titre-slide">OKOYE</h3>
                    <p class="texte-slide">
                        Okoye est le général des Dora Milaje (groupe d’élite de femmes guerrières) et le chef des forces armées et des renseignements wakandais. Témoin du couronnement de T'Challa, elle se joint à lui dans de nombreuses aventures
                    </p>
                    <a href="#">Voir plus &gt; </a>
                </div>
            </div>
            <div class="cards" id="card3">
                <img src="assets/images/1_Landing_page/Pantherhome_slider_3.png" alt="">
                <!-- <div class="decription-slide">
                    <h2 class="titre-slide"></h2>
                    <p class="texte-slide"></p>
                    <a href="#">Voir plus > </a>
                </div> -->
            </div>
        </div>
        <div class="box-btn-next">
            <a class="btn-next-slide" href="#" id="next-slide"> &gt; </a>
        </div>
    </section>
    <!-- Fin section hero slide -->

    <!-- Section naissance du prince -->
    <section id="dob-prince">
        <div class="contenu-text">
            <h3>Naissance d’un prince</h3>
            <p>
                <span>
                    T'Challa est né au Wakanda, un pays isolationniste situé en Afrique, du monarque régnant T'Chaka et de sa femme Ramonda. Il a finalement eu une sœur cadette nommée Shuri. S'entraînant toute sa vie pour prendre la place de son père en tant que prochain
                    Black Panther, T'Challa est devenu un homme avec un esprit très actif et malgré tous les efforts de T'Chaka, une grande aversion pour la politique.
                </span>
                <span>
                    T'Challa est poli, respectueux et très attentionné envers les gens qu'il côtoie et qu'il considère comme ses amis. Il est démontré qu'il a un grand respect envers les autres, en particulier envers son père, T'Chaka. Il honore la tradition et les principes
                    du Wakanda et est prêt à agir chaque fois que cela est nécessaire. À la mort de son père, il était disposé et prêt à prendre la place qui lui revenait en tant que roi du Wakanda. Bien qu'il ne semble pas privilégier les combats,
                    il a très vite tenté de venger la mort de son père. Combattant honorable, T'Challa respecte ses adversaires et est prêt à épargner la vie de ses ennemis. Cela étant dit, il n'est pas opposé à tuer ses adversaires dans un combat
                    et n'essaie pas toujours d'éviter les mesures mortelles de les neutraliser.
                </span>
                <span>
                    « Toute ma vie, je l'ai regardé porter le costume. Il pouvait soulever un homme à une seule main et courir aussi vite qu'un zèbre. Puis il m'a dit qu'il était trop vieux pour continuer à endosser le rôle de Black Panther; il me l'a alors passé afin de
                    simplement rester roi. <br> - Il me disait qu'il ne pouvait plus rentrer dans le costume. » <br> - T'Challa et Zur
                </span>
            </p>
            <h3>
                un heros vengeur
            </h3>
            <p>
                <span>
                    « La mort, dans notre culture, n'est pas la fin. Pour nous, c'est plutôt un point de départ. Le défunt n'a qu'à tendre les bras; et Bast et Sekhmet le guident jusqu'à l'entrée de la grande vallée où il résidera à tout jamais. <br>                        - C'est une vision très pacifique.
                    <br> -À l'image de mon père. Je ne suis pas mon père. » <br> - T'Challa et Natasha Romanoff
                </span>
                <span>
                    Suite à la mort de son père dans l'attentat à la bombe orchestré par Helmut Zemo, terroriste souhaitant la chute des Avengers, T'Challa avait entrepris de tuer le Soldat de l'hiver, qui était largement considéré (à tort) comme responsable de l'attaque.
                    Au cours de sa tentative de trouver le Soldat de l'hiver, Black Panther avait rejoint une guerre civile entre les Avengers, où il s'était rangé du côté d'Iron Man. T’Challa est alors animé par son désir de vengeance de la mort
                    de son père, ce qu’il partage avec Iron Man, tous deux victimes de l’assassinat de leurs parents.
                </span>
                <span>
                    Cependant, Black Panther apprend finalement en capturant Zemo, que c’était lui le seul responsable de la mort de son père, et que le Soldat de l’hiver n’était alors qu’une arme entre les mains de Zemo. Se rendant compte de la supercherie ainsi que de
                    la voie sombre de la vengeance, T’Challa se promet de ne plus permettre aux désirs de vengeance de le consumer à nouveau.
                </span>
                <span></span>
                <span>
                    « Quelle est la meilleure façon de protéger le Wakanda ? Je dois devenir un grand roi baba, comme tu l'étais. <br> - Tu devras lutter. Pour ça, il te faudra t'entourer de personnes de confiance. Tu es un homme bon, avec un grand
                    coeur. C'est difficile pour un homme bon d'être roi. » T'Challa et T'Chaka
                </span>
            </p>
            <h3>UN HEROS PROTECTEUR ET JUSTICIER</h3>
            <p>
                <span>« Tu as eu tort ! Vous avez tous eu tort ! Il ne fallait pas tourner le dos au reste du monde. Nous avons laissé la peur d’être découverts nous empêcher de faire ce qui était juste. Non père, non je ne peux pas rester ici avec toi.
                    Tant qu’il sera sur le trône, je ne saurai trouver le repos. C’est un monstre et c’est nous qui l’avons créé. Il faut que je reprenne le pouvoir, il le faut ! Il faut que je corrige ces injustices. » <br> T'Challa à T'Chaka
                </span>
                <span>
                    Il y a des siècles, alors que cinq tribus africaines se disputaient une météorite composée de vibranium métallique extraterrestre, un chaman guerrier Bashenga, guidé par la déesse panthère Bast, ingère une herbe en forme de cœur affectée par le métal
                    et acquiert des capacités surhumaines. Devenu le premier Black Panther , il unit toutes les tribus sauf la tribu des Jabari, et forme la nation du Wakanda. Au fil du temps, les Wakandains utilisent le vibranium pour développer
                    une technologie de pointe tout en s'isolant du reste du monde et en se faisant passer pour un pays du tiers monde.
                </span>
                <span>
                    Après les événements qui se sont déroulés dans Captain America : Civil War , T'Challa revient chez lui prendre sa place sur le trône du Wakanda, une nation africaine technologiquement très avancée. Néanmoins, T’Challa se retrouve rapidement mis au défi
                    pour obtenir le trône. Une fois couronné il espère accomplir une tâche que son père n’aura pas pu mener à son terme : capturer Ulysse Klaw un voleur qui a volé du vibranium. Cette traque l’amènera à faire équipe avec l’agent de
                    la CIA Everett Ross et les membres de la Dora Milaje, les forces spéciales du Wakanda. Il découvira également un secret enfoui sur sa famille qui lui fera prendre conscience de la nécessité de s’ouvrir au monde exterieur afin de
                    ne pas répeter les erreurs de son père.
                </span>
            </p>

        </div>

        <div class="presentation">
            <div class="profil">
                <img src="assets/images/1_Landing_page/Pantherhome3.png" alt="T'CHALLA" id="tchalla">
                <div class="profil-contenu">
                    <h4 class="nom">T’Challa</h4>
                    <div class="card-btn">
                        <a href="#" class="btn-profil">Black Panther</a>
                        <a href="#" class="btn-profil">Roi du Wakanda</a>
                        <a href="#" class="btn-profil">En vie</a>
                    </div>
                    <div class="biographie">
                        <p>
                            <span>
                                Acteur : <strong>Chadwick Boseman</strong>
                            </span>
                            <span>
                                Apparition : <strong>Captain America Civil War (2016)</strong>
                            </span>
                            <span>
                                Éspèce : <strong> humain</strong>
                            </span>
                            <span>
                                Nationalité : <strong>Wakandais</strong>
                            </span>
                            <span>
                                Sexe : <strong>Homme</strong>
                            </span>
                            <span> 
                                Décès : <strong>31 mai 2018 </strong> <em class="detail">(victime du Snap ; ressuscité par Hulk en 2023) </em> <strong>(2016)</strong>
                            </span>
                            <span>
                                Réalité : <strong>Terre-199999</strong>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <img src="assets/images/1_Landing_page/Pantherhome2.png" alt="Black Panther" class="img-panther" id="img-panther">
        </div>
    </section>
    <!-- Fin Section naissance -->

    <!-- Section contact -->
    <section id="contact">
        <div class="contact-main">
            <p class="question">Besoin de l’intervention du Wakanda ?</p>
            <h3 class="titre">Contactez nous !</h3>
            <form action="" id="formulaire">
                <input type="text" name="name" id="name" placeholder="Nom" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
                <input type="submit" value="ENVOYER" class="btn-form btn-index">
            </form>
        </div>
    </section>
    <!-- Fin contact -->
</main>
<!-- Fin Main -->

<!-- END HOME -->