<!-- lien reseaux sociaux -->
<div class="social-logo-header">
    <div class="ligne"> </div>
    <div class="icon-social">
        <a href="#"><img src="assets/images/icon_facebook.png" alt="logo facebook"></a>
        <a href="#"><img src="assets/images/icon_instagram.png" alt="logo instagram"></a>
        <a href="#"><img src="assets/images/icon_twitter.png" alt="logo twitter"></a>
        <a href="#"><img src="assets/images/icon_tik_tok.png" alt="logo tikto"></a>
    </div>
</div>
<!-- fin -->

<!-- section baniere -->
<section id="account">
    <div class="intro-wakanda">
        <h2 class="titre-wakanda text-white text-end">MON COMPTE</h2>
        <h3 class="soustitre-wakanda text-white text-end">MON COMPTE</h3>
    </div>
</section>
<!-- Fin section -->

<!-- Mes Info -->
<div class="container mx-auto pt-5">
    <div class="row">
        <div class="col-md-3">
            <p class="text-decoration-underline">Mes Informations</p>
            <p>Historique des commandes</p>
            <p>Mes avis</p>
            <p>Mes favoris</p>
            <button class="btn-form btn-enigme text-uppercase w-75" (click)="logout()">
                    Déconnexion
            </button>

        </div>
        <div class="col-md">
            <div class="col-md-9 d-flex align-self-stretch">
                <div class="vr bg-white mx-3"></div>
                <div class="d-inline-block">
                    <h1 class="m-3">Informations personnelles</h1>
                    <hr style="size: 10px; color: white;">
                    <p class="lh-lg text-muted mt-3">Nom : Lorem ipsum dolor sit amet, <br> Prenom : Lorem ipsum dolor sit amet <br> Mot de passe : Lorem ipsum dolor sit amet,<br> Numero de téléphone : Lorem ipsum dolor sit amet, <br> Adresse de livraison : Lorem ipsum dolor sit amet,
                        <br> Adresse de facturation : Lorem ipsum dolor sit amet,</p>

                    <button class="btn-form btn-enigme text-uppercase mt-5">Modifier</button>
                </div>
            </div>

            <div class="col-md-9 d-flex align-self-stretch my-5">
                <div class="vr bg-white mx-3"></div>
                <div class="d-inline-block">
                    <h1 class="m-3">Newsletter</h1>
                    <hr style="size: 10px; color: white;">
                    <p class="text-muted">Abonnez vous à la newsletter ! Ne ratez pas nos offres exceptionnels sur votre article préféré ! </p>
                    <div class="ms-5 mt-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                 Oui
                                </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                  Non
                                </label>
                        </div>
                    </div>
                    <button class="btn-form btn-enigme text-uppercase mt-5">ENREGISTRER</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End info -->