<!-- Pied de page  -->
<footer>
    <!-- cadre logo SAYNA & MARVEL -->
    <div class="logo-footer">
        <img src="assets/images/icon_SaynaXMarvel.png" alt="Logo SAYNA & MARVEL">
    </div>
    <!-- Fin cadre Logo SAYNA & MARVEL -->

    <!-- Partie reseaux sociaux, lien utile et droits d'auteur  -->
    <div class="policies">

        <!-- lien utile et reseaux sociaux -->
        <div class="link">

            <!-- Lien utiles  -->
            <div class="pages">
                <p class="titre">PAGES</p>
                <ul>
                    <li>
                        <a href="enigme.html">à propos</a>
                    </li>
                    <li>
                        <a href="wakanda.html">Wakanda</a>
                    </li>
                </ul>
            </div>
            <!-- Fin lien utile -->

            <!-- Réseaux sociaux -->
            <div class="social">
                <p class="titre">RETROUVEZ NOUS</p>
                <div class="social-logo">
                    <img src="assets/images/icon_facebook_footer.png" alt="logo facebook">
                    <img src="assets/images/icon_instagram_footer.png" alt="logo instagram">
                    <img src="assets/images/icon_twitter_footer.png" alt="logo twitter">
                    <img src="assets/images/icon_ti_tok_footer.png" alt="logo tik tok">
                </div>
            </div>
            <!-- fin Réseaux sociaux -->
        </div>
        <!-- Fin lien utile et droit d'auteur -->

        <!-- Droit d'auteur -->
        <div class="condition-right">
            <p>
                2022 Tous droits réservés <span>.</span> Politique de confidentialité <span>.</span> Conditions d’utilisation
            </p>
        </div>
        <!-- fin droit d'auteur -->
    </div>
    <!-- Fin reseaux lien et droit d'auteur -->
</footer>
<!-- Fin pied de page -->