<header>

    <!-- logo sayna marvel -->
    <a href="index.html">
        <div class="logo-header">
            <img src="assets/images/icon_SAYNA.png" alt="Logo SAYNA">
            <img src="assets/images/icon_x.png" alt="icon x">
            <img src="assets/images/icon_MARVEL.png" alt="icon x">
        </div>
    </a>
    <!-- fin logo -->

    <!-- menu de la pages -->
    <div class="menu">
        <ul>
            <li>
                <a routerLink="home" routerLinkActive="active">ACCUEIL</a>
            </li>
            <li>
                <a routerLink="wakanda" routerLinkActive="active">WAKANDA</a>
            </li>
            <li>
                <a routerLink="enigme" routerLinkActive="active">ENIGME</a>
            </li>
            <li>
                <a routerLink="home" routerLinkActive="active">ESHOP</a>
            </li>
            <li>
                <a routerLink="home" routerLinkActive="active">MON COMPTE</a>
            </li>
        </ul>
    </div>
    <!-- fin menu de la page -->
</header>