<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container">
        <a class="navbar-brand" routerLink="">
            <div class="logo-header">
                <img src="assets/images/icon_SAYNA.png" alt="Logo SAYNA">
                <img src="assets/images/icon_x.png" alt="icon x">
                <img src="assets/images/icon_MARVEL.png" alt="icon x">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active"> ACCUEIL </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="wakanda" routerLinkActive="active"> WAKANDA </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="enigme" routerLinkActive="active"> ENIGME </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="eshop" routerLinkActive="active"> ESHOP </a>
                </li>
                <li class="nav-item " *ngIf="isUserLoggedIn;else login">
                    <a class="nav-link " routerLink="account" routerLinkActive="active"> MON COMPTE( {{user}}) </a>
                </li>
                <ng-template #login>
                    <li>
                        <a class="nav-link " routerLink="account/login" routerLinkActive="active">
                            <i class="fa-solid fa-user-circle text-white"></i>
                        </a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>